body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    text-align: center;
}

header {
    display: flex;
    background-color: #001F3F;
    color: #FFFFFF;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 25%;
    height: 25%;
}

#hero {
    font-family: "Oswald", sans-serif;
    color: #001F3F;
    background-color: #FFFFFF;
}

#hero > h1 {
    font-size: 50px;
}

#hero > img {
    max-width: 100%;
    height: auto;
}

#cta, #cta2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #FFD700;
    color: #001F3F;
    font-family: "Roboto", sans-serif;
    font-size:larger;
    gap: 20px;
}

#cta > img {
    width: 20%;
    height: auto;
}

#cta2 > img {
    width: 20%;
    height: auto;
}

ul {
    text-align: left;
    background-color: #F2F2F2;
    color: #001F3F;
    font-family: "Roboto", sans-serif;
    font-size:medium;
}

.before-after-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
    background-color: #F2F2F2; /* Background color to match the body */
}

.image-container {
    flex: 1;
    max-width: 45%;
    margin: 0 1em;
}

.before-image, .after-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #001F3F;
    color: #FFFFFF;
}
